@{
    ViewData["Title"] = "Food Selection";
}
@using Microsoft.Win32.SafeHandles
@model Root
<h1>@ViewData["Title"]</h1>

<p>
    Nutrition facts labels help to maintain better eating habits and aid in attaining a balanced energy level.
    While there are many essential nutrients, they can be broken into two categories: macronutrients and micronutrients.
    Macronutrients are eaten in large amounts and include the primary building blocks of your diet — protein, carbohydrates, and fat — which provide your body with energy.
</p>

<form asp-controller="Home" asp-action="GetFoodDataFromApi">
    <label asp-for="QueryInput">Food Category</label>
    <input asp-for="QueryInput" placeholder="Food product to get some brands" />
    <input type="submit" />
    <input type="button" value="Update" asp-action="UpdateFoodData" />
    <input type="button" value="Delete" asp-action="DeleteFoodData" />
</form>

<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Brand Name
            </th>
            <th>
                Brand Owner
            </th>
            <th>
                Market Country
            </th>
            <th>
                Ingredients
            </th>
            <th>
                Published Date
            </th>
        </tr>
    </thead>

    <tbody>

            @*@foreach (var food in Model.foods)*@
            @if (Model.foods != null)
            {
        
        <tr>
            <td>
                <input type="text" value=@Model.foods.fdcId>
            </td>
            <td>
                <input type="text" value=@Model.foods.brandName>
            </td>
            <td>
                <input type="text" value=@Model.foods.brandOwner>
            </td>
            <td>
                <input type="text" value=@Model.foods.marketCountry>
            </td>
            <td>
                <input type="text" value=@Model.foods.ingredients>
            </td>
            <td>
                <input type="text" value=@Model.foods.publishedDate>
            </td>
        </tr>
           }
        
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                nutrientId
            </th>
            <th>
                nutrientName
            </th>
            <th>
                nutrientNumber
            </th>
            <th>
                unitName
            </th>
            <th>
                Value
            </th>
        </tr>
    </thead>

    <tbody>

        @if (Model.foods.foodNutrients != null)
        {
        @foreach (var nut in Model.foods.foodNutrients)
        {

            <tr>
                <td>
                    <input type="text" value=@nut.nutrientId>
                </td>
                <td>
                    <input type="text" value=@nut.nutrientName>
                </td>
                <td>
                    <input type="text" value=@nut.nutrientNumber>
                </td>
                <td>
                    <input type="text" value=@nut.unitName>
                </td>
                <td>
                    <input type="text" value=@nut.value>
                </td>
            </tr>
        }
        }

</table>
<br />
<br />

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>